@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">10 latest blog posts</h1>

    @foreach (var post in Model)
    {
        <div>
            <div>
                <h5>@post.Title</h5>
                <p>@post.Content</p>
                <hr>
            </div>
        </div>
    }
</div>
